Objective of the Model

The goal is to segment customers based on their characteristics (such as Age, Annual Income, and Spending Score) using K-Nearest Neighbors. By doing this, we aim to:

Identify distinct customer groups â€” e.g., high-income but low-spending, young and high-spending, etc.

Enable targeted marketing strategies by understanding which group each customer belongs to.

Predict the segment of a new customer based on their features using KNN classification.

Visualize customer clusters to gain insights into spending patterns and demographics.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
#load datset
data  = pd.read_csv("/Users/apple/Desktop/Machine-Learning/csv's/Mall_Customers.csv")
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40